.active{
	background:red
}
ul li{
	list-style:none
}
.gridsV2{
	width:100%;
	border-bottom:1px solid #ccc;
	height:1.3rem;

	div{
		float:left;
	}
	.frist{
		width:50%;
		padding:0.1rem;
		position:relative;
		height:100%;
		background:white;
		border-bottom:1px solid #ccc;
		border-right:1px solid #ccc;
	img{
			position:absolute;
			width:40%;
			bottom:0.1rem;
			left:50%;
			margin-left: -20%
		}
	}
	.second{
		width:50%;
		height:100%;
		position:relative;
		div{
			background:white;
			position:relative;
			width:100%;
			height:50%;
			border-bottom:1px solid #ccc;
			padding:0.1rem;
			img{
				position:absolute;
				width:20%;
				right:0.2rem;
				bottom:0.1rem;
			}
		}
	}
	p{
		font-size: .038rem;
		color:black;
		margin-bottom: 20px
	}
	span{
		font-size: .025rem;
		color:#fda900;
	}
	
}
.topList{
	margin-top:0.2rem;
	background:white;
	margin-top:.2rem;
	padding:0.1rem;
	height: 2.3rem;
	overflow-y: hidden;
	.title{
		margin-bottom:.1rem;
		a{
			float:right
		}
	}
	.flex{
		height:1.8rem;
		overflow-y: hidden;
		height: 2.8rem;
		ul{
			display:flex;
			li{
				height:3rem;
				margin-right:0.1rem;
				width:1rem;
				p{
					overflow: hidden;
					white-space:nowrap;
					text-overflow:ellipsis;
					width:100%;

				}
				h6{
					margin:.1rem 0;
					color:red;
				}
				span{
					font-size:12px;
				}
				img{
					width:1rem;
					margin-bottom:.1rem
				}
			}
		}
	}
}
.items{
	span{
		display:inline-block;
	}
	.line{
		text-align:center;
		height:0.4rem;
		line-height:0.4rem;
		.one{
			width:12%;
			height:1px;
			background:#fdde4a;
			margin-bottom: 3px;
		}
		.two{
			width:12%;
			height:1px;
			background:#fdde4a;
			margin-bottom: 3px;
		}
		.text::before{content: "";
		    width: 0;
		    height: 0;
		    border: 3px solid #fdde4a;
		    transform: rotate(45deg);
		    display: inline-block;
		    box-sizing: border-box;
		    margin-top: -3px;}
		.text::after{content: "";
		    width: 0;
		    height: 0;
		    border: 3px solid #fdde4a;
		    transform: rotate(45deg);
		    display: inline-block;
		    box-sizing: border-box;
		    margin-top: -3px;}
	}
	.item{
		float:left;
		width:50%;
		border-right:4px solid #f5f5f9;
		border-left:4px solid #f5f5f9;
		margin-bottom:.1rem;
		height:2.86rem;
		background:white;
		img{
			width:100%
		}
		.title{
			background: url(//img6.lukou.com/js/img/tmall.78fc8a6.png) no-repeat;
			background-size:0.2rem 0.15rem;
			text-indent:0.2rem;
			color:#877a73;
			height: .32rem;
			overflow:hidden;
			word-wrap: break-word;
		}
		div{
			margin-top:.2rem;
			:nth-of-type(1){
				color:#fa585a;
				font-size:18px;
				font-weight: 600;
			}
			:nth-of-type(2){
				text-decoration:line-through;
				color:#877a73;
			}
			:nth-of-type(3){
				float:right;
				width:46px;
				height:17px;
				color: #fa585a;
				background:url(http://img6.lukou.com/js/img/coupon-bg.26d715c.png) ;
				background-size:contain;
			}
		}
	}
	
}
